[Unit]
Description=Run CallaStream boot logo apply periodically

[Timer]
OnBootSec=30
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
